main{
    position: relative;
    top: 155px;
}
#main_1{
    width: 100%;
    padding: 0px 80px;
    box-sizing: border-box;
    position: relative;
}
.banner{
    width:100%;
}
.swiper-slide {
    display: flex;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.arrow{
    width: 3px; height: 150px;
    background-color: gray;
    position: absolute;
    transform: translateY(-50%);
    top:50%;  
}
.left_arrow{
    left:38px; 
}
.right_arrow{ 
    right:38px;
}
.cont_sec{
    width: 100%; height: 100%;
    margin: 145px 0 80px 0;
    position: relative;
    
}
.cont_sec>h2{
    text-align: center;
    font-size: 45px;
    color: #333;
    letter-spacing: 2px;
    font-weight: 500;
}
.cont_sec>a{
    position: absolute;
    right: 240px; top: 24px;
    font-size: 16px;
    color: #666;
}
.science>article{
    width: 100%;
    padding: 0 160px;
    box-sizing: border-box;
}
.sci_wrap{
    width: 100%; 
    display: flex;
    justify-content: space-between;
}
.tab_btn{
    width: 300px;
    display: flex;
    align-items: center;
}
.tab_btn>ul>li{
    margin-bottom: 27px;
}
.tab_btn>ul>li>a{
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
}
.active>a{
    font-size: 22px;
    color: #0890c0 !important;
    font-weight: bold;
}
.video{
    width: 710px; height: 800px;
    
    overflow: hidden;
}
.video>video{
    height: 100%;
    transform: translateX(-30%);
}
.science_txt{
    width: 385px; 
   
    display: flex;
    align-items: center;
}
.science_txt>div>h3{
    font-size: 38px;
    font-weight: 500;
    color: #333;
    line-height: 54px;
    letter-spacing: -3px;
}
.science_txt>div>p{
    font-size:18px;
    line-height: 30px;
    margin-top: 24px;
    color: #666;
}
.colleciton>article{
width: 100%;
overflow: hidden;
}
#col_wrap{
   width: 300%;
   overflow: hidden;
}
.col_btn>ul{
    display: flex;
    justify-content: center;
}
.tab{
    padding-bottom: 5px;
    box-sizing: border-box;
    color: #888;
}
.tab>a{
    padding: 0 20px;
    font-size: 22px;
    line-height: 30px;
    color: #888;
}
.col{
    float: left;
    width: 1280px;
    margin-right: 50px;
    position: relative;
}
.col>p{
    position: relative;
}
.col img{
    width: 100%;
}
.col_txt{
    position: absolute;
    left: 100px; top: 100px;
}
.col_txt>ul{
    display: flex;
}
.col_txt>ul>li{
    padding: 0px 10px;
    font-size:16px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
}
.col_txt>h3{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.col_txt>p{
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
    color: #fff;
}
.col_txt>div>a{
    display: inline-block;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    color: #fff;
    padding: 0 29px;
    margin-top: 60px;
}
.col_scroll{
    width: 1280px; height: 4px;
    margin: 50px auto;
    background-color: #dbdee1;
}
.scrollbar{
    width: 33.333%; height: 4px;
    background-color: #0890c0;
}
.news>article{
    display: flex;
    justify-content: center;
}
.news_txt{
    display: flex;
    align-items: center;
    padding-right: 50px;
    font-size: 23px;
    line-height: 40px;
    color: #333
}

.news_list{
    width: 280px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.news_list>ul>li{
    padding: 40px 0px;
    border-bottom: 1px solid #ebebeb;
}

.news_event>a{
    color: #999;
    cursor: pointer;
}

.news_event>a>h4{
    font-size: 16px;
    font-weight: bold;
   
}
.news_event>a>p{
    font-size: 20px;
    line-height: 32px;
    margin-top: 15px;
}

.sns_pic{
    display: flex;
    flex-wrap: wrap;
    padding:  20px 200px;
    box-sizing: border-box;
}
.sns_pic>li{
    padding: 20px;
    width: 25%;
    box-sizing: border-box;
}
.sns_pic>li>a>img{
    width: 100%;
}
.sns>article{
    padding: 0px 80px;
}
.sns_btn{
    display: flex;
    justify-content: center;
}
.sns_btn li{
padding: 0 10px;
}

.map_wrap{
   padding-bottom: 80px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.map_img{
    position: relative;
}
.map_txt{
    width: 340px; height: 340px;
    position: absolute;
    background-color: #0890c0;
    right: 9.5%; bottom: 0px;
    padding: 95px 70px 90px 70px ;
    box-sizing: border-box;
}
.map_txt>p{
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}
.map_txt>div{
    border-bottom: 2px solid #ebebeb;
    margin-top: 52px;
}
.map_txt>div>input{
    width: clac(100% - 32px);
    overflow: hidden;
    background: none;
    border: none;
    color: #fff;
    line-height: 30px;
    outline: none;
    opacity: 0.7;
}
.map_txt>div>input::placeholder{
    color: #fff;
    font-size: 16px;
}
.map_search{
    width: 27px; height: 40px;
    display: block;
    float: right;
    background-image: url(../img/search-icon-wht.png);
    background-repeat: no-repeat;
    background-position:center ;
}

.notice>ul{
    display: flex;
    padding-left: 100px;
}
.notice>ul>li{
    width: 233px; 
    border-right: 1px solid #ebebeb;
    text-align: center;
    padding: 10px 0;
  
}
.notice>ul>li:last-child{
    border-right: none;
}
.notice>ul>li p{
    color: #333333;
}
#info>article{
    display: flex;
}
.call{
    width: 50%; height: 350px;
    background-color: #f4f4f4;
    position: relative;
    bottom: 10px;
}

.call>ul{
   
    display: flex; height: 362px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  
}
.call>ul>li{
    padding-right: 50px;
}
.call>ul p{
    font-size: 40px;
    margin-top: 25px;
    letter-spacing: 3px;
}
.call>ul h4{
    font-weight: bold;
    font-size: 16px;
}
.call div{
    font-size: 16px;
    color:#888888 ;
}
.app{
    width: 50%; height: 362px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
}
.app>div{
    padding-top: 30px;
}
.app p{
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: #333;
    margin-top: 30px;
}
.store_btn{
    margin-top: 30px;
    display: flex;
    margin-bottom: 40px;
}
.store_btn>li>a{
    display: block;
    padding: 0 29px;
    height: 50px; width: 185px;
    border: 1px solid #d1d1d1;
    line-height: 50px;
    text-align: center;
    color: #777;
    font-size: 16px;
    font-weight: 550;
    margin-right: 10px;
    box-sizing: border-box;
}

.more_btn{
    display: block;
    font-size: 16px;
    color: #666;
    position: relative;
}
.more_btn::after{
    content: "";
    display: block;
    position: absolute;
    top: 12px; left: 40px;
    height: 1px;
    width: 30px;
    background-color: #666;
}

