main{
    margin-bottom: 100px;
}
.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 20px solid  #c5a4eb;
    border-radius: 50%;
    left: 1090px; top: 100px;
    z-index: -1;
    opacity: 0.8;
    box-sizing: border-box;
}
.circle1 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 20px solid #df9898;
    border-radius: 50%;
    left: 400px; top: 250px;
    z-index: -1;
    opacity: 0.8;
    box-sizing: border-box;
}

.circle2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 20px solid #f7a0d0 ;
    border-radius: 50%;
    opacity: 0.6;
    right: 60px; bottom: 100px;
    z-index: -1;
    box-sizing: border-box;
}
.circle3 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 16px solid #7d7be6;
    border-radius: 50%;
    opacity: 0.5;
    left: 150px; bottom: 500px;
    z-index: -1;
    box-sizing: border-box;
}
.circle4 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 16px solid  #ebcaa4;
    border-radius: 50%;
    opacity: 0.5;
    left: 650px; top: 400px;
    z-index: -1;
    box-sizing: border-box;
}
.circle5 {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 26px solid  #a4ebeb;
    border-radius: 50%;
    opacity: 0.6;
    left: 250px; top: 600px;
    z-index: -1;
    box-sizing: border-box;
}
.circle6{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 16px solid #a4ebeb;
    border-radius: 50%;
    left: 1390px; top: 750px;
    z-index: -1;
    opacity: 0.8;
    box-sizing: border-box;
}
.circle7 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 16px solid  #ebcaa4;
    border-radius: 50%;
    opacity: 0.5;
    left: 200px; top: 2000px;
    z-index: -1;
    box-sizing: border-box;
}
.circle8 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 16px solid #8583f5;
    border-radius: 50%;
    opacity: 0.6;
    right: 150px; bottom: 400px;
    z-index: -1;
    box-sizing: border-box;
}
#sec1{
    padding: 200px 250px;
    margin-bottom: 100px;
    /* background-image: url(../img/wave_02.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: bottom; */
}
#sec1>h2::selection {
    background: none;
}
h2{
    padding-left: 100px;
    color: #f1f1f1;
    font-size: 150px;
    font-weight: bolder;
    padding-left: 150px;
    line-height: 140px;
}

/* sec2 */
#sec2{
    width: 100%;
    position: relative;
    padding: 100px 0;
}
#sec2>.pro_img{  
    margin: auto;
    width: 700px; height: 600px;
    background-color: rgba(253, 170, 161, 0.774);
}
#sec2>.pro_img>img{
    width: 500px; height: 500px;
    padding: 0 100px;
}
#sec2>h3{ 
    color: #f1f1f1;
    position: absolute;
    left: 1200px;
    top: 180px;
    font-size: 70px;
    font-weight: 600;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.pro_wrap{
    position: relative;
    display: flex;
    margin: 120px 10px;
    justify-content: flex-end;
}
.pro{
    width: 900px; height: 500px;
    margin: 80px 0;
    background-color: #f1f1f11f;
    padding: 50px;
    box-sizing: border-box;
}
.pro>p{
    display: flex;
    color: #f0f0f0;
    line-height: 50px;
    font-size: 20px;
}
.pro>p>strong{
    display: block;
    width: 80px;
    font-weight: 600;
}
#phead{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.pro_img>img{
     width: 80px; height: 80px;
     margin: 10px 10px 15px 10px;
}
#pro_i{
    width: 60px; height: 60px;
    margin-bottom: 25px;
}

.pro_img>img :hover{
    width: 80px; height: 80px;
    margin: 10px 10px 15px 10px;
}


/* sec3 */
#sec3{
    width : 85%;
    padding-top: 100px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 200px;
}
#sec3_left{
    display: flex;
    justify-content: flex-start;
}
#sec3_right{
    display: flex;
    justify-content: flex-end;
}

.sec3_hov>div{
    width: 400px;
    margin: 0 160px;
    cursor: pointer;
    position: relative;
}
.sec3_title{
    width: 520px; height: 520px;
    background-color: #f1f1f12f;
    margin: 80px;
    position: relative;
}
.sec3_title>p{
    position: absolute;
    left: 150px;
    top: -80px;
    color: #f1f1f1;
    font-size: 110px!important;
    text-align: end;
    letter-spacing: 5px;
    font-weight: bold;
    padding-top: 100px;
    line-height: 110px;
}
.sec3_title>img{
    width: 100%;
    opacity: 0.5;
}
.sec3_hov>div>img:hover {
    opacity: 0.2;
    transition: 0.6s;
}
.sec3_hov>div>img{
    width: 100%;
    filter:  brightness(80%);
}
.sec3_hov p{
    color: #f1f1f1;
    font-size: 50px;
    position: absolute;
    font-weight: 600;
}
#sec3_right .categ{
    position: absolute;
    top: 25*0px; left: -50px;
}
#sec3_left .categ{
    position: absolute;
    top: 300px; left: 150px;
}
#sec3_left .categ:last-child{
    position: absolute;
    top: 280px; left: 200px;
}
.ace_box{
    position: absolute;
    top: -100px; left: 80px;
    width: 60px; height: 230px;
    background-color: #f1f1f1;
    opacity: 0.5;
    z-index: 999;
}
.round_box{
    position: absolute;
    top: 80px; left: 180px;
    width: 280px; height: 60px;
    background-color: #f1f1f1;
    opacity: 0.5;
    z-index: 999;
}
.eoyeo_box{
    position: absolute;
    top: 80px; left: 180px;
    width: 280px; height: 60px;
    background-color: #f1f1f1;
    opacity: 0.5;
    z-index: 999;
}
.kum_box{
    position: absolute;
    top: -100px; left: 80px;
    width: 60px; height: 230px;
    background-color: #f1f1f1;
    opacity: 0.5;
    z-index: 999;
}
.banner_box{
    position: absolute;
    top: 130px; left: -60px;
    width: 280px; height: 60px;
    background-color: #f1f1f1;
    opacity: 0.5;
    z-index: 999;
}
#ace_rot{
    opacity: 0;
    position: absolute;
    top: -20px; left: 55px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    font-weight: 500;
    font-size: 20px;  
    color: #fff;
    z-index: 9999;
}
#kum_rot{
    opacity: 0;
    position: absolute;
    top: -20px; left: 55px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    font-weight: 500;
    font-size: 20px;  
    color: #fff;
    z-index: 9999;
}

#round_rot{
    opacity: 0;
    position: absolute;
    top: 90px; left: 200px;
    font-weight: 500;
    font-size: 20px;  
    color: #fff;
    z-index: 9999;
}
#banner_rot{
    opacity: 0;
    position: absolute;
    top: 145px; left: - 200px;
    font-weight: 500;
    font-size: 20px;  
    color: #fff;
    z-index: 9999;
}

.sec3_hov :hover > #kum_rot{
    opacity: 1;
    transition: 0.6s;
}
.sec3_hov :hover > #ace_rot{
    opacity: 1;
    transition: 0.6s;
}
.sec3_hov :hover > #round_rot{
    opacity: 1;
    transition: 0.6s;
}
.sec3_hov :hover > #banner_rot{
    opacity: 1;
    transition: 0.6s;
}
.sec3_hov>.banner>img{
    width: 400px; height: 400px;
    padding: 0;
}
.ban_slide{
    width: 900px; 
    float: right;
    position: relative;
    margin: 10px;   
}
.flex{
    display: flex;
    width: 900px;
}
.fle_l{
    width: 55%; 
}
.fle_r{
    width: 45%;
}
.flex>li>img{
    width: 100%;
}
/* sec4 */
#sec_cont{
    width: 1150px;
    padding: 50px 20px 50px 0;
    position: relative;
    background-color: #f1f1f11f;
}
#sec_cont>h4{
    font-size: 60px;
    padding-left: 100px;
    margin-bottom: 50px;
    letter-spacing: 15px;
    color: #f1f1f1;
    font-weight: bolder;
}

.contact_d{
    display: flex;
    color: #f1f1f1;
    text-align: center;
}
.contact_d>div{
    width: 33%;
    margin: 30px;
}
.contact_d>div>strong{
    font-size: 35px; 
    font-weight: bold;
}
.contact_d>div>p{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    #sec1{
    padding: 100px 100px;
    margin-bottom: 100px;
}

h2{
    color: #f1f1f1;
    font-size: 100px;
    font-weight: bolder;
    padding-left: 100px;
    line-height: 140px;
}
#sec2>h3{ 
    color: #f1f1f1;
    position: absolute;
    left: 750px;
    top: 180px;
    font-size: 70px;
    font-weight: 600;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#sec3{
    width : 98%;
    padding-top: 100px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 200px;
}
.ban_slide{
    width: 600px;
    float: right;
    position: relative;
    margin: 10px;   
}
.flex{
    display: flex;
    width: 600px;
}
#sec_cont{
    width: 800px;
    padding: 80px 20px 80px 0;
    position: relative;
    background-color: #f1f1f11f;
}
#sec_cont>h4{
    font-size: 50px;
    padding-left: 100px;
    margin-bottom: 50px;
    letter-spacing: 15px;
    color: #f1f1f1;
    font-weight: bolder;
}
.contact_d>div{
    width: 33%;
    margin: 15px;
}
.contact_d>div>strong{
    font-size: 30px; 
    font-weight: bold;
}
.contact_d>div>p{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}
  }