@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
*{
    font-family: NotoSans-Medium, sans-serif;
}
a{
    font-family: 'Noto Sans KR', sans-serif;
}
html{
    background-color: rgb(22, 22, 22);
}
header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%; height: 80px;
    color: #f1f1f1;
    background-color: rgba(22, 22, 22, 0.5);
    z-index: 9999;
}
.logo{
    margin: 0 80px;
    width: 130px;
}
.logo>img{
    width: 100%;
}
header>ul{
    display: flex;
    padding-right: 80px;
    padding-left: 20px;
    margin-top: 20px;
    height: 60px;
    background-color: #f1f1f12c;
}
header>ul>li{
    margin: 0  20px;
    font-size: 15px;
    line-height: 60px;
    font-weight: 600;
    color: #f1f1f1;
    cursor: pointer;
}

footer{
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
}
